  <div class="main-menu mobile-menu">
                        <ul>
                            <li class="active"><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="% url 'home' %}">About Us</a></li>
                            <li><a href="{% url 'home' %}">Blog</a></li>
                            <li><a href="./gallery.html">Gallery</a>
                                <ul class="dropdown">
                                    <li><a href="#">Naoh</a></li>
                                    <li><a href="#">Padis</a></li>
                                    <li><a href="#">Jacob</a></li>
                                    <li><a href="#">Gomez</a></li>
                                </ul>
                            </li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </div>